.cart {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 1.25rem 1rem 0 0;
}

.cart svg:hover {
  stroke: orange;
}

.itemCount {
  position: absolute;
  top: -8px;
  right: -10px;
  height: 1.2rem;
  background-color: orange;
  font-size: 0.6rem;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  padding: 0 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2rem;
}
