.customBtn,
.customBtn.round {
  padding: 10px 15px;
  border: none;
  border-radius: 1rem;
  background-color: var(--btncolor);
  color: white;
  letter-spacing: 0.2rem;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 100%;
}

.customBtn.halfround {
  border-radius: 0 0 1rem 1rem;
}

.customBtn.disabled {
  background-color: gray;
}

.customBtn.disabled:hover {
  background-color: gray;
}

.customBtn:hover {
  background-color: var(--btnhover);
}
