#checkoutSuccess {
  background-image: url("/public/images/bag-wallpaper-2.webp");
  background-size: cover;
}

#checkoutSuccess h1 {
  font-family: "Syne";
}

#checkoutSuccessContent {
  max-width: 35rem;
}

.orderNumber {
  box-shadow: 0 0 10px goldenrod;
}
